.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: auto;
  list-style: none;
  padding: 0;
  user-select: none;
  
}

.pagination li {
  width: 36px;
  height: 36px;
  background-color: #191919;
}

.pagination li:hover {
  background-color: #4d4d4d;
}

.pagination a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 12px;
  color: azure;
  text-decoration: none;
  transition: color 0.2s ease;
}

.pagination .active {
  background-color: #4d4d4d;
  transform: scale(1.05);
}
